<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous" 
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     <body style="background-color:beige;">
    <title>Contact Us!</title>
  </head>
  <body>
    <!--FIXED NAVBAR-->
    <style>      
      body{
          padding-top:60px;
      }
      /* fix padding under menu after resize */
      @media screen and (max-width: 767px) {
          body { padding-top: 60px; }
      }
      @media screen and (min-width:768px) and (max-width: 991px) {
          body { padding-top: 110px; }
      }
      @media screen and (min-width: 992px) {
          body { padding-top: 60px; }
      }
  </style>
      
      <!-- N A V I G A T I O N  B A R -->
      <nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">
            <img src="https://s3.amazonaws.com/codecademy-content/projects/bass/everywhere.svg" height="50" alt="GTMSLogo">
        </a>
          <a class="navbar-brand" href="/">G  T  M  S</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-checked="page" href="/home">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/rates">Shipping Rates</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us!</a>
              </li>
            </ul>
            <form class="d-flex">
              <a href="/accounts/login" data-toggle="modal"> 
                <button type="button" class="btn btn-outline-light">LOG-IN</button>
                </a>
            </form>
          </div>
        </div>
      </nav>
      
      <div class="container-fluid">
        <div class="row">
      <div class="card text-center text-white bg-secondary mb-3">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h2 class="card-title text-dark">CONTACT US!</h2>
          <p class="card-text">We are always here to help. If you have queries about our services, please fill up the contact form
            below and we'll do our best to reply within 24 hours. Alternatively,simply pickup the phone and give us a
            call.</p>
        </div>
        <div class="card-footer text-white">
          Message us now! (Like seriously..)
        </div>
      </div>
    </div>

      
        <section class="form-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <form action="/contact" method="post">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Fullname:</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Full name *">
      
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Email Address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address *">
                    </div>
                  </div>
      
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Contact Number: </label>
                      <input type="number" class="form-control" id="phone" name="phone" placeholder="Contact Number *">
      
                    </div>

                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Address: </label>
                      <input type="text" class="form-control" id="address" name="address" placeholder="Address *">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">Subject:</label>
                        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        I agree to send this
      </label>
    </div>
  </div>
                  <div class="form-row">
                      <div class="form-group col-md-12 text-center">
                         <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send Message</button>
                      </div>
                   </div>
      
                </form>
      
              </div>
              <div class="col-md-6 address">
                  <h5>Call Us!</h5>
                  <p><a href="tel:+639673208862"><i class="fa fa-phone"></i> +(63) 9673208862 </a><br>
                  </p>
                  <h5>Email</h5>
                  <p>
                     <a href="mailto:gtms_servicse@gmail.com"><i class="fa fa-envelope"></i> gtms_services@gmail.com</a><br>
                  </p>
                  <h5>Working hours</h5>
                  <p>
                     Monday - Sunday : 9am - 6pm(GMT+8)
                  </p>
                  <h5>Address</h5>
                  <p>
                     Palma Street, Poblacion II, Tagbilaran City, 6300 Bohol
                  </p>
               </div>
            </div>
          </div>
        </section>
      
        <section>
            <div class="container-fluid">
            <label for="exampleFormControlTextarea1"><b>Complete Address:</b></label>
               <!-- <iframe class="embed-responsive-item" src="..."></iframe> -->
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.3948492322656!2d123.85119631481312!3d9.647262893093558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33aa4db28c31dab7%3A0xdffce800229ca1d8!2sCode%20Bldg!5e0!3m2!1sen!2sph!4v1611629308041!5m2!1sen!2sph"
                width="100%" height="300px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      
            </div>
      
      
         </section>
      
        <footer class="full-footer">
          <div class="container top-footer p-md-3 p-1">
            <div class="row">
              <div class="col-md-3 pl-4 pr-4">
                <p>
                  G T M S is a company with mission and vision to satisfy the interest of the customers. For suggestions, comments and complaints just <a href="#">Click
                    here...</a>
                </p>
                <a style="color:silver;" class="p-1" href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                <a style="color: silver;" class="p-1" href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>
                <a style="color: silver;" class="p-1" href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                <a style="color: silver;" class="p-1" href="#"><i class="fa fa-2x fa-instagram"></i></a>
              </div>
      
              <!--<div class="col-md-3  pl-4 pr-4">
                <h3>Mission</h3>
                <p>
                OUR objective is to become an extension of our clients' business by taking care of all their courier needs by providing them with unparallel transportation management solutions acceding to our core values of reliability, accuracy, integrity, and service.
                 We will never fail in exceeding our clients’ expectations.
                </p>
              </div>-->

              <div class="card text-white bg-success mb-3" class="col-md-3  pl-4 pr-4" style="width: 17rem;">
                <div class="card-header">
                  <b>OUR MISSION</b>
                </div>
                <div class="card-body">
                  <p class="card-text">OUR objective is to become an extension of our clients' business by taking care of all their courier needs by providing them with unparallel transportation management solutions acceding to our core values of reliability, accuracy, integrity, and service.
                    We will never fail in exceeding our clients’ expectations.</p>
                </div>
              </div>

      
             <!----<div class="col-md-3  pl-4 pr-4">
                <h3>Our Vision</h3>
                <p>
                WE want to become the premiere Same-day-delivery company serving the courier needs of businesses and individuals in   Bohol Area. 
                Further, in a couple of years we'll extend our reach to the whole nation and beyond. 
                We want to realize our objectives by providing our clients with consistent, dependable and accurate service at a cost effective rate.
                </p>
              </div>-->
      
              <div class="card text-white bg-info mb-3" class="col-md-3  pl-4 pr-4" style="width: 17rem;">
                <div class="card-header">
                  <b>OUR VISSION</b>
                </div>
                <div class="card-body">
                  <p class="card-text">WE want to become the premiere Same-day-delivery company serving the courier needs of businesses and individuals in   Bohol Area. 
                    Further, in a couple of years we'll extend our reach to the whole nation and beyond. 
                    We want to realize our objectives by providing our clients with consistent, dependable and accurate service at a cost effective rate.</p>
                </div>
              </div>


             <!--div class="col-md-3  pl-4 pr-4">
                <h3>Customer Service</h3>
                <p>
                CUSTOMER SERVICE is our top priority. We will be responsive to your concerns and complaints, fix problems immediately, and maintain standards of communication with you and your staff. 
                If we are not able to prevent a problem we promise to fix it ASAP.
                </p>
              </div>-->

              <div class="card text-white bg-danger mb-3" class="col-md-3  pl-4 pr-4" style="width: 17rem;">
                <div class="card-header">
                  <b>CUSTOMER SERVICE</b>
                </div>
                <div class="card-body">
                  <p class="card-text">CUSTOMER SERVICE is our top priority. We will be responsive to your concerns and complaints, fix problems immediately, and maintain standards of communication with you and your staff. 
                    If we are not able to prevent a problem we promise to fix it ASAP.</p>
                </div>
              </div>
              

              </div>
            </div>
          </div>
          <div class="container-fluid bottom-footer pt-2">
            <div class="row">
              <div class="col-12 text-center">
                <p>Copyrights © 2021 - All rights reserved</p>
              </div>
            </div>
          </div>
      
        </footer>
      
      
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS 
        <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="bootstrap/js/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>-->
      </body>
      
      </html>